[Unit]
Description=YouTube Music Telegram Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/Play-Youtube-In-CLI
ExecStart=/home/ubuntu/Play-Youtube-In-CLI/venv/bin/python /home/ubuntu/Play-Youtube-In-CLI/main.py
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ytmusic_bot

[Install]
WantedBy=multi-user.target
